<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: brown;
            color: whitesmoke; 
        }
    </style>
</head>
<body>
    <h1>Welcome to gitPub</h1>
    <ul>
        <% for (let i = 0; i < drinks.length; i++){ %>
            <li class="drink-names"> <%= drinks[i].name %> </li>
        <% } %>
    </ul>
</body>
</html>